
:root{
    --primary-color: #D8BFD8;
}


.container{
    max-width: 600px;
    background-color: var(--primary-color);
    padding: 20px;
    margin: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

p{
    padding-bottom: 20px;
}

input{
    height: 30px;
    width: 200px;
    margin: 0 auto;
    border-color: grey;
    padding: 4px;
    box-shadow: #b097b0 0px 0px 20px;
    border-radius: 10px;
}

#submit{
    height: 40px;
    width: 150px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 50px;
    display: block;
}

#submit:hover{
    background-color: #b097b0;
}

label{
    margin: 20px auto;
    display: block;
    font-size: 1.5rem;

}


th, td {
    border: 1px solid #886f88;
    padding: 8px;
    width: 100px;
}

caption {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
  }

thead th {
  width: 25%;
}

#error-message{
    font-size: small;
}

#logo-attribution{
    font-size: x-small;
}

footer{
    background-color: var(--primary-orange);
    color: black;
    font-size: 1rem;
}

#portfolio #logo{
    font-size: 0.8rem;
    font-weight: bold;
    color: inherit;
}

#portfolio-logo{
    display: block;
    margin: 10px auto;
    height: 2rem;
    width: 2rem;
}

footer img{
        width: 25px;
        height: 25px;
        margin: 7px 10px;
}

footer a{
    text-decoration: none;
}

footer a:visited{
    color: black;
}
